{% extends 'base.html.twig' %}

{% block title %}{% trans %} Réinitialisez votre mot de passe {% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
        <h1 class="titre-page">{% trans %} Réinitialisez votre mot de passe {% endtrans %}</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            
            <div class="text-center">
                <button class="btn btn-lg btn-primary submit m-4" style="border-color: #6096BA ;" type="submit">
                {% trans %} Réinitialiser {% endtrans %}
                </button>
            </div>
        {{ form_end(resetForm) }}

    </div>
{% endblock %}
