{% extends 'base.html.twig' %}

{% block title %}{{"Modification de la fonction" |trans}}{% endblock %}

{% block body %}
    <div style="max-width: 90% ;" class="container">

    {% for message in app.flashes("error") %}
           <div class="alert alert-danger alert-dismissible m-3">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

           </div>
       {% endfor %}

    <h1 class="titre-page">{{"Modification de la fonction" | trans}}</h1>

    {{ include('fonction/_form.html.twig') }}

{% endblock %}
