{% extends 'base.html.twig' %}
{% block title %}{{"Erreur 404"|trans}}{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="titre-page">{{ "Erreur 404" }}</h1>
                <p class="text-center">{{ "La page que vous recherchez n'existe pas."|trans}}</p>
                <div class="d-flex justify-content-center">
                    <img src="{{ asset('img/404.png') }}" alt="Erreur 404" class="img-responsive center-block text-center" width="20%">
                </div>
                <p class="text-center"><b>"Nous ne sommes jamais perdus, nous sommes simplement en train de suivre une route que nous ne connaissons pas encore." - Karen Salmansohn</b></p>
            </div>
        </div>
    </div>

{% endblock %}