{% extends 'base.html.twig' %}
{% block title %}{{"Erreur 403"|trans}}{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="titre-page">{{ "Erreur 403" }}</h1>
                <p class="text-center">{{ "Vous n'avez pas les droits pour accéder à cette page."|trans}}</p>
                <div class="d-flex justify-content-center">
                    <img src="{{ asset('img/403.png') }}" alt="Erreur 403" class="img-responsive center-block text-center" width="30%">
                </div>
                <p class="text-center"><b>"Tout ce qui est interdit est tentant, mais l'interdit même en fait sa valeur et son charme." - Marcel Proust</b></p>
            </div>
        </div>
    </div>

{% endblock %}