<p>{{"Bonjour" |trans }} {{ user.prenom }},</p>

<p>{{ "L'administrateur a refusé votre demande de création de compte, veuillez contacter l'administrateur." |trans }}</p>

<p><b>{{ "Cordialement, Metz Connect" |trans }}</b></p>
<img src="https://i.imgur.com/sRB0Mes.png" alt="Logo Metz Connect"/>